* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(231, 237, 240);
}

header {
    color: rgb(0, 0, 10);
    background-color: rgb(204, 192, 31);
    font-size: 30px;
    font-family: jokerman, fantasy;
    text-align: center;
}

nav {
    color: rgb(8, 8, 102);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
}

h3 {
    font-family: comic sans-serif, cursive;
}

ol {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(31, 221, 196);
}

#dp {
    display: block;
    float: left;
}

#dsp {
    display: block;
    float: right;
    background-color: rgb(31, 221, 196);
}

#ap {
    display: block;
    clear: both;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}