* {
    font-family: 'Roboto', sans-serif;
}

.fondo1 {
    background: url(images/fondo1.jpg);
    background-size: cover;
}

.medium {
    font-size: 4rem
}

.set1 {
    background: url(images/set1.jpg);
    background-size: cover;
}

.set2 {
    background: url(images/set2.jpg);
    background-size: cover;
}

footer {
    background: rgb(37, 37, 36);
    background-size: cover;
}


/*SOCIAL*/

.social-bar {
    position: fixed;
    /* Hacemos que la posición en pantalla sea fija para que siempre se muestre*/
    left: 0;
    /*Lo ponemos a la derecha de nuestra pantalla*/
    top: 25%;
    /*Lo posicionamos casi al centro*/
    font-size: 1.5rem;
    display: flexbox;
    /*Aplicamos la propiedad flex*/
    flex-direction: column;
    /*Cambiamos el flujo que viene por defecto*/
    align-items: flex-end;
    /*Alineamos hacia la parte inferior*/
    z-index: 100;
    /*Ubicamos la barra por encima del resto de los elementos*/
}


/*Propiedades generales a la clase icon*/

.icon {
    color: white;
    text-decoration: none;
    padding: .7rem;
    display: table;
    transition: all .5s;
}


/*Establecemos los background de cada elemento aprovechando su class*/

.icon-facebook {
    background: #3b5998;
}

.icon-twitter {
    background: #55acee;
}

.icon-youtube {
    background: #bb0000;
}

.icon-google-plus {
    background: #dd4b39;
}

.icon-instagram {
    background: #bd2a62;
}

.icon-pinterest2 {
    background: #cb2027;
}

.icon-rss {
    background: #ff6600;
}

.icon-envelop {
    background: rgb(94, 94, 94);
}

.icon:first-child {
    border-radius: 0 1rem 0 0;
    /*Agregamos un borde redondeado al primer elemento*/
}

.icon:last-child {
    border-radius: 0 0 1rem 0;
    /*Agregamos un borde redondeado al último elemento*/
}


/*Al pasar el mouse lograremos que se apliquen las siguientes propiedades*/

.icon:hover {
    padding-left: 3rem;
    border-radius: 0 1rem 1rem 0;
    box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
    color: white;
}