* {
    font-family: 'Roboto', sans-serif;
}

.fondo1 {
    background: url(images/fondo1.jpg);
    background-size: cover;
}

.medium {
    font-size: 4rem
}

.set1 {
    background: url(images/set1.jpg);
    background-size: cover;
}

.set2 {
    background: url(images/set2.jpg);
    background-size: cover;
}

footer {
    background: rgb(37, 37, 36);
    background-size: cover;
}


/*SOCIAL*/

2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 .social {
    position: fixed;
    /* Hacemos que la posición en pantalla sea fija para que siempre se muestre en pantalla*/
    left: 0;
    /* Establecemos la barra en la izquierda */
    top: 200px;
    /* Bajamos la barra 200px de arriba a abajo */
    z-index: 2000;
    /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */
}

.social ul {
    list-style: none;
}

.social ul li a {
    display: inline-block;
    color: #fff;
    background: #000;
    padding: 10px 15px;
    text-decoration: none;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    /* Establecemos una transición a todas las propiedades */
}

.social ul li .icon-facebook {
    background: #3b5998;
}


/* Establecemos los colores de cada red social, aprovechando su class */

.social ul li .icon-twitter {
    background: #00abf0;
}

.social ul li .icon-google-plus {
    background: #d95232;
}

.social ul li .icon-pinterest2 {
    background: #ae181f;
}

.social ul li .icon-envelop {
    background: #666666;
}

.social ul li a:hover {
    background: #000;
    /* Cambiamos el fondo cuando el usuario pase el mouse */
    padding: 10px 30px;
    /* Hacemos mas grande el espacio cuando el usuario pase el mouse */
}